$background-color: #4A5560;
$background-highlight-color: #4F667D;
$background-highlight-midway-color: #4A5C6E;
$background-overlay-color: rgba(74,85,96,0.5);
$cutout-color: #3D444B;

$footer-background-color: #303439;
$footer-link-color: #B0D3F7;
