$background-color: #DD1144;
$background-highlight-color: #F53E6B;
$background-highlight-midway-color: #ED2F5E;
$background-overlay-color: rgba(221,17,68,0.5);
$cutout-color: #CD0738;

$footer-background-color: #363232;
$footer-link-color: #FF7799;
